<settings>
    <mirrors>
        <mirror>
            <id>nexus-cathay</id>
            <url>http://10.95.28.53/nexus/repository/maven-public/</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>nexus</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>http://central</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </repository>
            </repositories>
            <properties>
                <altSnapshotDeploymentRepository>nexus-user::default::http://10.95.28.53/nexus/repository/maven-snapshots/</altSnapshotDeploymentRepository>
                <altReleaseDeploymentRepository>nexus-user::default::http://10.95.28.53/nexus/repository/maven-releases/</altReleaseDeploymentRepository>
            </properties>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>nexus</activeProfile>
    </activeProfiles>
</settings>